body {
  margin: unset;
}

body > span:nth-child(1) > div {
  background-color: rgb(152, 152, 250);
  font-size: 200%;
  font-family: verdana;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.8em;
  text-align: center;
}

#button1 {
  background-color: rgb(125, 255, 249);
  padding: 1rem 0rem;
  margin-top: 20px;
  font-family: verdana;
  font-weight: bold;
  width: 100px;
  text-align: center;
}

#hiddenlink1 {
  width: 100px;
  height: 100px;
  background-color: black;
}
